body, html {
  margin: 0; padding: 0;
  background: black;
}

type-writer {
  font-size: 72px;
  --typewriter-cursor-blink-rate: 1s;
}

.slide {
  .fade();
  width: 100vw; height: 100vh;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  type-writer {
    color: white;
    --typewriter-cursor-color: white;
  }  

  &.white {
    background: white;

    type-writer {
      color: black;
      --typewriter-cursor-color: black;
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

build-slide { display: block; }

path {
  transition: fill 2s, stroke 0.5s;
}

.fade {
  opacity: 0;
  transition: opacity 1s;
  
  &[data-is-active] {
    opacity: 1;
  }
}