html {
  margin: 0; padding: 0;
  background: black;
  transition: background-color 2s;
  text-align: center;

  &[data-current-build^="performance_considerations"],
  &[data-current-build="remember/infinitesimal"],
  &[data-current-build="fascist_structures"],
  &[data-current-build^="words"] {
    background: white;
  }

  overflow: hidden;
}

type-writer {
  font-size: 72px;
  --typewriter-cursor-blink-rate: 1s;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.776);
}



.slide {
  .fade();
  font-size: 72px;
  width: 100vw; height: 100vh;
  position: absolute;
  top: 0; left: 0;
  .flex-container();

  type-writer {
    color: white;
    --typewriter-cursor-color: white;
  }  

  &.white {
    background: white;

    type-writer {
      color: black;
      --typewriter-cursor-color: black;
    }
  }
}

svg {
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;
}

.viewport {
  width: 100vw; height: 100vh;
  position: absolute;
  top: 0; left: 0;
  background: #dc98e2;
  transition: background 1s;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

build-slide { display: block; max-width: 100vw; max-height: 100vh; overflow: hidden; }

// path {
  // transition: fill 2s, fill-opacity 0.5s, stroke 0.5s, stroke-width 2s,
// }

.fade {
  opacity: 0;
  transition: opacity 1s, background 1s;
  
  &[data-is-active] {
    opacity: 1;
  }
}

.projector {
  position: absolute;
  padding: 0;
  left: 100vw;
  transition: left 0.2s linear;
  display: flex;
  overflow: hidden;
  width: 0;
  flex-flow: row nowrap;
  &[data-is-active] {    
    left: 0;
    width: 100vw;
  }
}

.projector-slide-content {
  width: 120vh;
  height: 90vh;
  margin-left: calc((100vw - 120vh) / 2);
  margin-right: calc((100vw - 120vh) / 2);
  margin-top: 5vh;
  background: white;
  border-radius: 1vw;
  // animation: flicker 0.1s infinite;
  background: white;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 100px;
  box-sizing: border-box;
  overflow: hidden;

  h1 { margin: 20px; }
  h2 { margin: 20px; }

  &.dark {
    background: black;
    color: white;
  }
}

svg.floatey {
  path {
    transition: transform 3s;
  }
}

.projector-slide-vignette {
  box-shadow: inset 0 0 100px black;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: var(--vignette-opacity);
}

.projector-slide-content img {
  margin: auto;
}

img {
  transition: transform 1s;
  max-width: 100%;
}

.color-cycle-pink {
  animation: color-cycle-pink 10s infinite;
}

.color-cycle-purple {
  animation: color-cycle-purple 10s infinite;
}

@keyframes color-cycle-pink {
  0% { fill: #ff0066; }
  25% { fill: #c800ff; }
  75% { fill: #00c3ff;  }
  100% { fill: #ff0066; }
}

@keyframes color-cycle-purple {
  0% { fill: #8b00ff }
  25% { fill: #00a6ff }
  75% { fill: #f7d722 }
  100% { fill: #8b00ff }
}

.transition-bg-30 {
  transition: background 30s;
}

.zoom-30 {
  animation: zoom-in 30s;
}


.zoom-5 {
  animation: zoom-in 5s;
  animation-fill-mode: forwards;
}

.zoom-spin-30 {
  animation: zoom-spin 30s;
}

.fade-out-5 {
  animation: fade-out 5s forwards;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes zoom-in {
  0% { transform: scale(1); }
  100% { transform: scale(2); }
}

@keyframes zoom-spin {
  0% { transform: rotate(0) scale(1); }
  50% { transform: rotate(180deg) scale(1.25); }
  100% { transform: rotate(360deg) scale(1.5); }
}

@keyframes flicker {
  0% { filter: brightness(99%) saturate(75%) sepia(5%); }
  20% { filter: brightness(98%) saturate(75%) sepia(5%); }
  40% { filter: brightness(95%) saturate(75%) sepia(5%); }
  60% { filter: brightness(96%) saturate(75%) sepia(5%); }
  80% { filter: brightness(97%) saturate(75%) sepia(5%); }
  100% { filter: brightness(99%) saturate(75%) sepia(5%); }
}